{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-3 padding-none">
			{% if session['username'] %}
			<a href="{{url_for('newCatalog')}}">
				<button class="btn btn-default" id="new-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Catalog
				</button>
			</a>
			{% else %}
				<h3>Catalog App</h3>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row padding-top padding-bottom">
	{% for catalog in catalogs %}
		{% if session['username'] %}
			<div class="col-md-1"></div>
			<div class="col-md-3 padding-none">
		{% else %}
			<div class="col-md-10 padding-none">
		{% endif %}
			<a href = "/catalog/{{catalog.url}}/">
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-4 catalog-list">
						<h3>{{catalog.name}}</h3>
					</div>
				</div>
			</a>
		</div>
		{% if session['username'] %}
		<div class="col-md-1"></div>
		<div class="col-md-3 text-right">
			<a href="{{url_for('editCatalog', catalog_url=catalog.url)}}">
				<button class="btn btn-default" id="edit-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Item
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-3 text-right">
			<a href="{{url_for('deleteCatalog', catalog_url=catalog.url)}}">
				<button class="btn btn-default" id="delete-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Item
				</button>
			</a>
		</div>
		{% endif %}
	{% endfor %}
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-10 padding-none">
			{% for lastitem in lastitems %}
				<a href = "/catalog/{{lastitem.cat_url}}/{{lastitem.name}}/">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 catalog-list">
								<h3>{{lastitem.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
