{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			{% if session['username'] %}
			<a href="{{url_for('newItemCatalog', catalog_url=catalog_url)}}">
				<button class="btn btn-default" id="new-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Item Catalog
				</button>
			</a>

			{% else %}
				<h3>Catalog App -- Item listed by category</h3>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for catitem in catitems %}
		{% if catitem.cat_url == catalog_url %}
			<a href = "/catalog/{{catalog_url}}/{{catitem.name}}/">
				<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-10 catalog-list">
							<h3>{{catitem.name}}</h3>
						</div>
					<div class="col-md-1"></div>
				</div>
			</a>
		{% endif %}
	{% endfor %}
	{% if session['username'] %}
		{% if catalog_url == catalog_url %}
			<div class="row padding-top padding-bottom">
				<div class="col-md-12 padding-none">
					<a href="{{url_for('catalogJSON', catalog_url=catalog_url)}}">CatalogJSON </a>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
