<html>
<head>

</head>
<body>
  <h1> Are you sure you want to delete {{catitem_url.name}}? </h1>

  <form action="{{ url_for('deleteItemCatalog', catalog_url=catalog_url, catitem_url=catitem_url)}}" method = 'post'>
    <input type='submit', value = 'Delete'>
  </form>

  <a href = "{{ url_for('showCatItemListed', catalog_url=catalog_url, catitem_url = catitem_url)}}"> Cancel </a>
</body>
</html>
