<html>
<head>

</head>
<body>
  <h1> Are you sure you want to delete {{catalogs.name}}? </h1>

  <form action="{{ url_for('deleteCatalog', catalog_url=catalogs.url)}}" method = 'post'>
    <input type='submit', value = 'Delete'>
  </form>

  <a href = "{{ url_for('showCatalogs', catalog_url = catalogs.catalog_url)}}"> Cancel </a>
</body>
</html>
