{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{ url_for('editItemCatalog',catalog_url = catalog_url, catitem_url=item.url)}}" method = "post">
        <div class="form-group">
  				<label for="name">Name:</label>
  				<input type ="text" class="form-control" maxlength="100" name="name" placeholder='{{item.name }}'>
  				<label for="url">Url:</label>
  				<input type ="text" class="form-control" maxlength="100" name="url" placeholder='{{item.url }}'>
  				<label for="description">Description:</label>
  				<textarea rows='5' cols='40' class="form-control" maxlength="250" name="description" placeholder='{{item.description }}'></textarea>
  				<div class="padding-bottom"></div>
  				<button type="submit" class="btn btn-default" id="submit" type="submit">
  				<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Update</button>
				</div>
			</form>
      <a href = '{{url_for('newItemCatalog', catalog_url = catalog_url)}}'> Cancel </a>
		</div>
	</div>
{% endblock %}



<form action="{{ url_for('editItemCatalog',catalog_url = catalog_url, catitem_url=item.url)}}" method = 'post'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' placeholder = '{{item.name }}'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{item.description }}'></textarea></dd>
	<dt>Price:</dt>
		<dd><input type = 'text' size = '8' name='price' placeholder = '{{item.price}}'></dd>
	<dt>Course:</dt>

	{% if item.course == 'Appetizer' %}
		<dd><input type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
	{%else%}
	<dd><input type ='radio' name='course' value='Appetizer' >Appetizer</dd>
    {% endif %}

    {% if item.course == 'Entree' %}
       <dd><input type ='radio' name='course' value='Entree' checked>Entree</dd>

    {%else%}
		<dd><input type ='radio' name='course' value='Entree'>Entree</dd>
    {% endif %}

	{% if item.course == 'Dessert'%}
		<dd><input type ='radio' name='course' value='Dessert'checked >Dessert</dd>

	{% else %}
	   <dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>

	{% endif %}


	{%if item.course =='Beverage'%}
		<dd><input type ='radio' name='course' value='Beverage'checked >Beverage</dd>
	{% else %}
		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
	{% endif %}





</dl>


<input type='submit' value='Edit'>

<a href = '{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}'> Cancel </a>
</form>
