<div class="row top-menu">
	<div class="col-md-1 text-right"></div>
	<div class="col-md-1 text-right"></div>
	<div class="col-md-8"></div>
	<div class="col-md-2 text-left">
		{% if session['username'] %}
			<a href="{{url_for('gdisconnect')}}">Logout </a>
		{% else %}
			<a href="{{url_for('showLogin')}}">Login </a>
		{% endif %}
	</div>
</div>
<div class="row divider blue">
	<div class="col-md-12"></div>
</div>
<div class="row banner main">
	<div class="col-md-1"></div>
	<div class="col-md-11 padding-none">
		<a href = "/catalog/"><h1>Catalogs</h1></a>
	</div>
</div>

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
			<ul>
	      {% for message in messages %}
	          <li> <strong> {{ message }} </strong> </li>
	      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</div>
