{% extends "main.html" %}
{% include "header.html" %}
{% block content %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			{% if session['username'] %}
			<a href="{{url_for('editItemCatalog' , catalog_url=catalog_url,  catitem_url=catitem_url)}}">
				<button class="btn btn-default" id="edit-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Item
				</button>
			</a>
			<a href="{{url_for('deleteItemCatalog' , catalog_url=catalog_url, catitem_url=catitem_url)}}">
				<button class="btn btn-default" id="delete-catalog">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete Item
				</button>
			</a>
			{% else %}
				<h3>Catalog App -- Item Selected details</h3>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{% for catitem in catitems %}
				{% if catitem_url == catitem.url %}
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 catalog-list">
								<h3>{{catitem.name}}</h3>
								<p>{{catitem.description}}</p>
							</div>
						<div class="col-md-1"></div>
					</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		{% if session['username'] %}
			{% if catalog_url == catalog_url %}
				<div class="row padding-top padding-bottom">
					<div class="col-md-12 padding-none">
						<a href="{{url_for('catalogItemJSON', catalog_url=catalog_url, catitem_url=catitem_url)}}">CatalogItemJSON </a>
					</div>
				</div>
			{% endif %}
		{% endif %}
{% endblock %}
