{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" maxlength="100" name="name">
					<label for="url">Url:</label>
					<input type ="text" class="form-control" maxlength="100" name="url">
					<label for="description">Description:</label>
					<textarea rows='5' cols='40' class="form-control" maxlength="250" name="description"></textarea>
					<div class="padding-bottom"></div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
